@model Producto;
@{
    ViewData["Title"] = "Registro de Producto";
}
<div class="row justify-content-center" >

    <div class="col-md-4">
        <h1 class="display-4">Registro de Producto</h1>
        <div asp-validation-summary="All"></div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">
                <input asp-for="nameProduct" class="form-control" placeholder="Nombre del Producto" />
                <span asp-validation-for="nameProduct" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <input asp-for="urlProduct" class="form-control" placeholder="URL del Producto" />
                <span asp-validation-for="urlProduct" class="text-danger"></span>
            </div>

            <div class="form-group row">
                 <textarea asp-for="describeProduct" class="form-control" placeholder="Descripción del Producto"></textarea>
                 <span asp-validation-for="describeProduct" class="text-danger"></span>
            </div>


            <div class="form-group row">
                <input asp-for="priceProduct" class="form-control" placeholder="Precio del Producto" />
                <span asp-validation-for="priceProduct" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <input asp-for="phoneProduct" class="form-control" placeholder="Celular de Contacto" />
                <span asp-validation-for="phoneProduct" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <input asp-for="placeProduct" class="form-control" placeholder="Lugar de Compra" />
                <span asp-validation-for="placeProduct" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <input asp-for="userProduct" class="form-control" placeholder="Nombre del Usuario" />
                <span asp-validation-for="userProduct" class="text-danger"></span>
            </div>
          

            <div class="form-group" align='center'>
                 <button class="btn btn-primary">Registrar</button> 
            </div>    

        </form>

    </div>

</div>